<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/css/gerant.css">
    <title>Document</title>
</head>
<body>
    <%- include('includes/barre_nav.ejs'); %>

    <div id="stock">
        <div id="title_gerant">
            <a href="/gerant"><img src="/img/back_icon.png" alt=""></a>
            <h1><%= products[id-1].nom %></h1>
        </div>
        <div class="table">
            <div class="table-header">
                <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">S</a></div>
                <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">M</a></div>
                <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">L</a></div>
                <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">XL</a></div>
            </div>
            <form id="add" action=""></form>
            <div class="table-content">	
                <% for(var i = 0; i < products.length; i++){ 
                    if(i == id-1){%>
                        <div class="table-row">		
                            <% for(var j = 0; j < stock_products.length; j++){
                                if(stock_products[j].id_produit === products[i].id_produit){ %>
                                    <div class="table-data"><%= stock_products[j].taille_s %></div>
                                    <div class="table-data"><%= stock_products[j].taille_m %></div>
                                    <div class="table-data"><%= stock_products[j].taille_l %></div>
                                    <div class="table-data"><%= stock_products[j].taille_xl %></div>
                                <%}
                            }%>
                        </div>
                        <div class="table-row">		
                            <% for(var j = 0; j < stock_products.length; j++){
                                if(stock_products[j].id_produit === products[i].id_produit){ %>
                                    
                                    <div class="table-data">
                                        <input  type="number" name="" id="addS" value="0">    
                                    </div>
                                    <div class="table-data">
                                        <input  type="number" name="" id="addM" value="0">    
                                    </div>
                                    <div class="table-data">
                                        <input  type="number" name="" id="addL" value="0">    
                                    </div>
                                    <div class="table-data">
                                        <input  type="number" name="" id="addXL" value="0">    
                                    </div>

                                <%}
                            }%>
                            </div>
                        </div>
                    <%}
                } %>
            </div>	
            <div id="ab">
                <input id="add_button" type="submit" value="Ajouter" >
            </div>
            </form>
        </div>
    </div>
    
</body>
</html>