<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/css/produit.css">
    <title>Document</title>
</head>
<body>
    <!-- BARRE DE NAVIGATION -->
    <%- include('includes/barre_nav.ejs'); %>

    <!-- PRODUIT -->

    <div id="produit">
        <div id="produit_left">
            <img src="<%=produit_image%>" alt="" width="300px">
        </div>
        <div id="produit_right">
            <div id="type"><p><%=produit_type%></p></div>
            <h1><%=produit_name%></h1>
            <p><%=produit_price%>€</p>
            <p>Il en reste <%=produit_quantity%></p>

            <!-- menu deroulant des tailles -->
            <form method="post" action="<%=produit_id%>">
                <div class="select-box">
                    <label for="select-box1" class="label select-box1"><span class="label-desc">Taille</span> </label>
                    <select id="select-box1" class="select" name="size" required="">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>   
                <div id="quant">
                    <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                    <input type="number" id="number" value="0" name="quantity">
                    <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                    <br>
                    <br>
                    <input type="submit" id="buy" value="Ajouter au panier"></input>
                </div>
            </form>  


        </div>
    </div>

    <!-- selectionner des accesoires aleatoirement -->
    <h2>Accessoires possibles</h2><br>
    <div id="accessoires">
        <%for(var i = 0; i < 4; i++){%>
            <div class="accessoire">
                <img src="<%=products[i].image%>" alt="" width="200px">
                <h3><%=products[i].nom%></h3>
                <p><%=products[i].prix%>€</p>
            </div>
        <%}%>

    </div>
    


    <script>
        $("select").on("click" , function() {
            $(this).parent(".select-box").toggleClass("open");
        });

        $(document).mouseup(function (e){
            var container = $(".select-box");
            if (container.has(e.target).length === 0){
                container.removeClass("open");
            }
        });

        $("select").on("change" , function() {
            var selection = $(this).find("option:selected").text(),
            labelFor = $(this).attr("id"),
            label = $("[for='" + labelFor + "']");
            label.find(".label-desc").html(selection);
        });


        function increaseValue() {
            var value = parseInt(document.getElementById('number').value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById('number').value = value;
        }

        function decreaseValue() {
            var value = parseInt(document.getElementById('number').value, 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            document.getElementById('number').value = value;
        }
    </script>

    
</body>
</html>